body {
    background-color: rgb(247, 197, 14);
}
  
h1 {
color: rgb(9, 0, 0);
text-align: center;
}

p {
font-family: verdana;
font-size: 20px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
